@import '../../scss_variables';

.orders {
    table {
        border-collapse: separate;
        font-size: 1em;

        td {
            vertical-align: top;
            padding: 9px;
        }

        tbody tr:hover {
            background-color: rgba(85, 224, 92, 0.3);
            cursor: pointer;
        }
    }

    .orders-line-highlight {
        background-color: rgba(0, 0, 0, .3);
    }
}

.edit_order {
    select {
        padding: 5px;
        font-size: 1.3em;

        option[value="0"], .order-status-0 {
            background-color: rgba(247, 4, 4, 0.7);
            color: rgba(255, 255, 255, .9);
        }

        option[value="1"], .order-status-1 {
            background-color: rgba(247, 243, 4, 0.7);
        }

        option[value="2"], .order-status-2 {
            background-color: rgba(81, 247, 4, 0.7);
        }
    }

    .order-status {
        font-weight: bold;
    }

    .edit_order_deliveries {
        font-size: 1.1em;
    }
}
