@import '../../scss_variables';

.recipes {
  &__recipe {
    &:hover {
      background-color: $success_highlight;
      cursor: pointer;
    }
  }
}

.recipe_ingredient_panel {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .5);
  &__name {
    font-weight: bold;
  }
}

.recipe_edit {
  & .recipe_scale {
    & input {
      width: 100px;
    }
  }

  &__ingredient {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $primary_highlight;

    & .ingredient {
      &__title {
        font-size: 1.2em;
        font-weight: bold;
      }

      &__allergens {
        font-size: .8em;
      }
    }
  }
}

.recipe_printout {
  width: 100%;
  font-size: 1.5em;
}

.recipe_scale {
  &__print {
    &:hover {
      cursor: pointer;
    }
  }
}