@import '../../scss_variables';

.delivery_planner {
  &__map_div {
    height: 400px;
  }

  @media(min-width: 576px) {
    &__map_div {
      height: 700px;
    }
  }
}

.route_organizer {
  &__status {
    float: right;
    font-size: 1.5em;
  }

  &__status--0 { // uncommitted
    color: $danger_fill;
  }

  &__status--1 { //committed
    color: $info_fill;
  }

  &__status--2 { // in progress
    color: $primary_fill;
  }

  &__status--3 { // completed
    color: $success_fill;
  }

  &__status--3 { // waiting for cutoff
    color: $secondary_fill;
  }

  &__stops {
    height: 500px;
    overflow: auto;
    border: 1px solid $info_fill;
  }

  @media(min-width: 576px) {
    &__stops {
      height: 700px;
      overflow: auto;
    }
  }
}

.route_organizer_entry {
  .organizer_entry {
    &__address {
      float: left;
    }

    &__inner {
      margin: 5px;
      padding: 3px;
      border: 2px solid $info_highlight;
      min-height: 200px;
    }

    &__notes {
      height: 100px;
      overflow-scrolling: auto;
      border: 1px solid $warning_fill;
      padding: 3px;
      margin: 5px;
    }

    &__time {
      float: right;
    }

    &__plan_controls {
      &__up_btn{}
      &__down_btn{}
    }
  }
}