
.menu_items {

    &__item {
        border: 2px solid rgba(0, 0, 0, 0);

        &:hover {
            border-color: rgba(0, 0, 0, 1);
            cursor: pointer;
        }

        &__menuitem__name {
            font-size: 1.2em;
            font-weight: bold;
            color: black;
        }

        img {
            width: 100%;
        }
    }
}

.new_menu_item {
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, .2);
}