.delivery_day_component__search_widget {
    position: relative;
    display: inline-block;
}

.delivery_item_options__price {
    width: 80px;
}

.search_items__content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.deliveries-day-item img {
    height: 100px;
}

.deliveries-day {
    font-size: 1.5em;
    font-weight: bold;
}

.deliveries-day-date:hover {
    cursor: pointer;
    background-color: rgba(24, 128, 20, 0.7);
}

.week-options {
    color: black;
    padding: 5px;
}

.week-options-panel-text {
    color: black !important;
}

@media(min-width: 576px) {
}