.deliveries-day-item img {
    height: 100px;
}

.deliveries-day {
    font-size: 1.5em;
    font-weight: bold;
}

.deliveries-day-date:hover {
    cursor: pointer;
    background-color: rgba(24, 128, 20, 0.7);
}

.week-options {
    color: black;
    padding: 5px;
}

.week-options-panel-text {
    color: black !important;
}