.browser_tool {
}

.browser_tool_calendar__month_nav {
  font-size: 1.5em;
}

.browser_tool_calendar td {
  height: 100px;
  width: 150px;
  max-width: 150px;
  border: 2px solid rgba(0, 0, 0, .1);
}

.month_nav__date {
  min-width: 200px;
  text-align: center;
}

.month_nav__item {
  float: left;
  margin: 0 10px;
}

.month_nav__arrow {
  font-weight: bold;
}

.month_nav__arrow:hover {
  color: rgb(50, 128, 32);
  cursor: pointer;
}

.browser_window_tools {
  padding: 0 5px;
}
.browser_window_tools__inner {
  border: 2px solid rgba(0, 0, 0, .3);
  padding: 5px;
}

@media(min-width: 576px) {
  .month_nav__date {
    min-width: 300px;
  }
}