@import './scss_variables';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  &__inner {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    border-width: 2px;
    border-style: solid;
    overflow-y: auto;
    background-color: white;
  }

  @media(min-width: $media_breakpoint) {
    &__inner {
      width: 65%;
      margin: 1.5rem auto;
      padding: 20px 0;
      height: auto;

    }
  }
}