@import './scss_variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.app {

  &__page {
    position: relative;
    min-height: 200px;
  }

  & .app_header {
    color: rgba(0, 0, 0, .4);
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: bottom;

    &__title {
      float: left;

      & img {
        width: 200px;
      }
    }

    &__menu_toggle {
      float: right;

      &:hover {
        cursor: pointer;
      }

      & img {
        height: 20px;
      }
    }
  }

  @media(min-width: $media_breakpoint) {
    & .app_header {
      font-size: 2em;
    }
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.no_wrap_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basic_form {
  &__label {
    font-weight: bold;
  }
}

.clear_both {
    clear: both;
}

.checkbox_selector {
    float: left;
    margin-right: 5px;
    padding: 5px;
    width: 150px;

    & span {
      margin-left: 15px;
    }
  }

/* printing */
.print_sheet {
    visibility: hidden;
}

@media print {
  body * {
        visibility: hidden;
    }

    .print_sheet, .print_sheet * {
        visibility: visible;
        width: 100%;
    }

    .print_sheet {
        position: absolute;
        left: 0;
        top: 0;
    }

    .quarter_page {
        page-break-after: always;
    }

    .print_sheet__break {
      page-break-after: always;
    }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  &__dropdown {
    display: inline-block;

    & li {
      font-size: 1em !important;
    }
    &--open {
      height: 50px;
      transition: 3.5s;
    }
    &--close {
      height: 0;
      display: none;
      transition: 0.2s;
    }
  }

  & li {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      color: #f1f1f1;
    }
  }

  & .closebtn {
    position: absolute;
    top: 0;
    right: 70px;
    font-size: 36px;
    margin-left: 50px;
    color: rgba(255,255,255, .5);

    &:hover {
      cursor:pointer;
      color: rgba(255, 255, 255, .8)
    }
  }
}
@media(min-width: $media_breakpoint) {
    .sidenav {
      padding-top: 15px;

      & a {
        font-size: 18px;
      }

      & .closebtn {
        right: 10px;
      }
    }
  }
