
// highlight colors; match Bootstrap button colors and names
$success_highlight_background_color: rgba(40, 167, 69, .3);
$warning_highlight_background_color: rgba(255, 193, 7, .3);
$danger_highlight_background_color: rgba(220, 53, 69, .3);
$primary_highlight_background_color: rgba(0, 127, 246, .3);

$media_breakpoint: 576px;