.navbar {
    &__login {
        float: right;
    }

    &-collapse {
        float: left;
    }
}

.subnav {
    background-color: rgba(0, 0, 0, .5);

    &__item {
        color: white;
        margin: 0 5px;
    }
}