@import '../../scss_variables';

.delivery_windows__window-inactive {
  background-color: $danger_highlight;
}

.delivery_windows__window:hover {
  cursor: pointer;
  background-color: $success_highlight;
}

.delivery_window_edit {
  &__prompt {
    font-weight: bold;
  }

  & .window_emailer {
    margin: 10px 0;
  }

  &__emailer {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
  }

  &__go_back {
    float: left;
  }
}

.dwe_zones {
  &__zone {
    & button {
      font-size: .7em;
    }
  }
}