.delivery-window-selector {
    height: 400px;
    border: 2px solid rgba(0, 0, 0, .5);
}

.delivery-window-container:hover {
    background-color: rgba(110, 238, 117, 0.7);
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}