@import '../../scss_variables';

.zones {
}

.zone_tool {
  margin: 5px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, .5);

  &__codes {
    display: block;
    height: 300px;
    padding: 3px 6px;
    border: 2px solid rgba(0, 0, 0, .7);
    text-align: left;
    overflow-y: auto;
  }

  &__note {
    text-align: center;
    font-size: .7em;
    color: rgba(0, 0, 0, .7);
  }
}

.zone_code {
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $success_highlight;
  }
}